:root {
    --white: #fff;
    --black: #0C151D;
    --gray: #3d3d3d;
    --gray-gray: #0D1423;
    --yellow: #FFE071;
    --clear-gray: #AFC0E2;
    --sm: 16px;
    --md: 20px;
    --lg: 60px;
}

body {
    background-color: var(--black);
    font-family: 'Nunito';
    margin: 0;
}

.main-container {
    background-color: var(--black);
    display: grid;
    grid-template-rows: repeat(1fr 1fr 1fr 1fr 1fr);
    align-items: center;
    height: 100%;
    width: 100%;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.img{
    width: 192px;
    height: 192px;
    flex-shrink: 0;
    border-radius: 192px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.title {
    font-size: var(--lg);
    color: var(--white);
}

.sub-title {
    color: var(--white);
    font-size: var(--md);
    padding: 0;
}
.caja1{
  
    flex-shrink: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    color: #F1F2F4;
    font-family: Poppins;
    font-size: 46px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.caja2{
    text-align: center;
    display: flex;
    flex-direction: row;
}
.caja2 div{
    padding-inline: 50px;
}
.caja5{
    display: grid;
    flex-direction: row;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

}
.caja5 .img2{
    width: 192px;
    height: 192px;
    flex-shrink: -100;

}
